.banner {
    position: relative;
    border: 1px solid black;
    height: auto;
}

.banner img {
    display:block;
 }
 
.texto {
    width: 30%;
    height: 88%;
    position: absolute;
    text-align: right;
    top: 49.5%;
    transform: translateY(-50%);
    left: 65%;
    padding: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    
    

}

.texto a {
    position: absolute;
    top: 85%;
    right: 3%;
    text-decoration: none;
    margin: 1em;
    padding: 0.5em;
    background: #5d64a8;
    text-transform: uppercase;
    color:white;
    font-weight: 600;
}

.texto a:hover {
    background: #de0963;
}