.banner {
    color: white;
    text-align: center;
    background: rgba(93, 100, 168, 0.4);
}


.texto {
    padding: 1em;
}

.texto p {
    margin-bottom: 1em;
}

.texto a {
    text-decoration: none;
    color:white;
    padding: 0.5em;
    background: #5d64a8;
    font-weight: bolder;   
}

.texto a:hover {
    background: #de0963;
}