.banner {
    margin-top: 1em;
    color: white;
    text-align: center;
    background: rgba(93, 100, 168, 0.4);
}


.texto {
    padding: 1em;
}

.texto p {
    margin-bottom: 1em;
}

.texto a {
    font-family: 'oswald', sans-serif;
    text-decoration: none;
    color:white;
    padding: 0.5em 1em;
    background: #5d64a8;
    font-weight: 500;   
}

.texto a:hover {
    background: #de0963;
}

@media(min-width:768px){
    .banner {
        position: relative;
    }

    .texto {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        height:100%;
        width: 40%;
        font-size: 18px;
    }

    .texto a {
        position: absolute;
        bottom: 8%;
        left: 40%;
    }

}

@media(min-width: 1280px) {
    .banner {
        position: static;
        background: white;
        padding: 0.5em;
    }

    .image {
        position: relative;
    }

    .image img {
        width: 100%;
    }

    .texto {
        font-size: 23px;
    }

    .texto p {
        font-size: 18px;
    }
    .texto a{
        font-size: 18px;
    }
    
}