#titulo {
    padding: 1em;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.apartados {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(255, 255, 255);
}
.apart {
    margin-top: 1em;
    text-align: center;
}

.apart img {
    padding: 1em;
}

.apart h2 {
    width: 100%;
    background: rgb(0, 0, 0);
}

.apart h2:hover {
    color: #de0963;
}

.apart a {
    text-decoration: none;
    color: white;
}

.insfeed {
    margin-top: 1em;
    background: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
}

footer {
    margin-top: 1em;
    background: rgba(0, 0, 0, 0.6);
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 1em;
}