.header {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
}

.header img {
    display: flex;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 60%;
    color: white;
}

#subtitulo {
    margin-top: 0.5em;
    font-style: italic;
}

.nombre{
    margin-top: 2em;
    margin-bottom: 1em;
}

.nombre a {
    text-decoration: none;
    color: white;
}

.sociales {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 13%;
}

.sociales a{
    text-decoration: none;
    color:black;
    padding: 0.2em;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    text-decoration: none;
}

nav ul li{
    list-style: none;
    font-weight: 1000;
    padding:  1em 1.5em;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    letter-spacing: 0px;
}

nav ul li:hover {
    border-bottom: 2px solid #5d64a8;
}

#selected {
    border-bottom: 2px solid  #de0963;
}

i {
    background: white;
    padding: 0.5em;
    border-radius: 50%;
}

i:hover {
    background: #de0963;
    color: white;
} 