@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap|Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("image/fondo.png");
    font-family: 'roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'oswald', sans-serif;
}

@media(min-width:1280px) {
    body{
        margin: auto;
        max-width: 1000px;
    }
}
